@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--Lightgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    background-color: var(--White);
    width: 700px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 55px;
    border-bottom-right-radius: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .inputs{
    display: flex;
    
}

label{
    font-size: .9rem;
    margin-bottom: 5px;
    color: var(--Smokeygrey);
}

input{
    width: 120px;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 1px solid var(--Lightgrey);
}

input:focus{
    outline: 2px solid var(--Purple);
    border: none;
}

::placeholder{
    font-weight: 800;
    font-size: 1.2rem;
}

.label{
    margin: 40px 0px; 
    border-top: 2px solid var(--Lightgrey);
    position: relative;
}

.label::before{
    content: url(./assets/images/icon-arrow.svg);
    position: absolute;
    padding: 15px;
    top: -40px;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--Purple);
}

.box{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.container .results h1{
    font-size: 6rem;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
}

.container .results h1 span{
    color: var(--Purple);
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);

    --Purple: hsl(259, 100%, 65%);
    --Lightred: hsl(0, 100%, 67%);
}